<header class="bg-white shadow">
  <div class="max-w-4xl mx-auto px-6 py-6 flex items-center justify-between">
    <h1 class="text-xl font-semibold">Antonio Greminger</h1>
    <nav class="flex gap-4 text-sm">
        <a href="{% url 'inicio_seccion' 'habilidades' %}" class="hover:underline">Habilidades</a>
        <a href="{% url 'inicio_seccion' 'experiencia' %}" class="hover:underline">Experiencia</a>
        <a href="{% url 'inicio_seccion' 'contacto' %}" class="hover:underline">Contacto</a>
    </nav>
  </div>
</header>
